.avatar_style {
    margin-right: 10px;
}

.avatar_post_style {
    margin-top: 23px;
}

.avatar_post_style_icon {
    float: left;
    margin-right: 10px;
}

.clock_post_style {
    margin-left: 50px;
}
.post_style {
    white-space: pre-line;
    margin-left: 50px;
    margin-bottom: 60px;
}

.edit_style {
float:right;
margin-right: 10px;

}
.create_user_style {
    float: right;
    margin-right: 15px;
}

.create_avatar_style {
    float: left;
    margin-left: 15px;
}